<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit-Product Details</title>
<th:block th:include="layout/header"></th:block>
</head>
<body>
	<div class="container">
		<h2>Leave Details</h2>
		<div>
			<form class="form-horizontal" th:object="${leaves}"
				th:action="@{/leaves}" method="post">
				<div class="form-group">
					<label class="col-sm-2 control-label">Employee ID:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{emp_id}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Start Date:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{Startdate}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">End Date:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{Enddate}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Category:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{leavecategory}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Leave Reason:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{leavereason}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Contact:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{contact}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Status:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{status}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>